.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-image {
    width: 40px; /* 프로필 사진 크기 */
    height: 40px;
    border-radius: 50%; /* 원형으로 만들기 */
    margin-right: 10px; /* 닉네임과의 여백 */
  }
  
  .nickname {
    font-size: 15px;
    font-weight: bold;
  }
  