

.main-image{
    width:100%;
    
  }
.헤더{
    display: flex;
    align-items: center;
    gap:160px;
    margin-right:80px;
    margin-left: 80px;
    margin-top:60px;
    
  }
.search-bar{
    flex:auto;
  }
.image-container{
    width:15%;
    margin-right:40px;
    
  }
#로그인{
    display: flex;
    gap:5px;
  }
.가입버튼{
    width:75px;
    height:35px;
    color:#286270;
    font-size: 15px;
    background-color: transparent;
    border: 0px;
}
#빌려주기{
    width:85px;
    background-color: #286270;
    color:#F2EEE4;
    border-radius: 5px;
}
#최신상품{
    font-size: 45px;
    margin-left: 80px;
    font-weight: bolder;
    color:#2e525b;
  }

.listhead{
    margin-left: 100px;
}
.filter-select{
    margin-left: 240px;
    padding:5px;
    font-size: 14px;
    color:#286270;
    font-weight: bold;
    border: 1.3px solid #286270;
    border-radius: 5px;
}